%h2 Subscription page

%p How nice that you want to become a paying reader

= form_tag charges_path do
  %script.stripe-button{ src: 'https://checkout.stripe.com/checkout.js',
      data: {amount: 1000,
      description: 'Subscription to Ruby Observer',
      key: "#{ENV['STRIPE_APP']}",
      currency: 'sek',
      email: "#{current_user.email if current_user}"}}
  %button{type: 'submit'} Pay with Card